n8n/workflows/01-order-notification.json
{
  "name": "ThaliMate — Order Notifications",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-notification",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "leftValue": "={{ $json.kind }}",
              "rightValue": "order.created",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "filter-created",
      "name": "Filter: order.created",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.APP_URL }}/api/admin/orders/{{ $json.orderId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fetch-order",
      "name": "Fetch Order Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=🍱 *New Order!*\n\nOrder: `{{ $json.code }}`\nCustomer: {{ $json.customer?.phone }}\nTotal: ₹{{ ($json.total / 100).toFixed(2) }}\nPlan: {{ $json.mealPlan?.name }}\nMeal: {{ $json.mealTime }} ({{ $json.diet }})\n\nStatus: {{ $json.status }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "telegram-notify",
      "name": "Telegram: New Order",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Filter: order.created", "type": "main", "index": 0 }]] },
    "Filter: order.created": { "main": [[{ "node": "Fetch Order Details", "type": "main", "index": 0 }]] },
    "Fetch Order Details": { "main": [[{ "node": "Telegram: New Order", "type": "main", "index": 0 }]] },
    "Telegram: New Order": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false }
}
