n8n/workflows/02-daily-menu-publish.json
{
  "name": "ThaliMate — Daily Menu Auto-Publish",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "30 1 * * *" }]
        }
      },
      "id": "cron-trigger",
      "name": "Cron: 7 AM IST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "notes": "30 1 * * * = 07:00 IST (UTC+5:30)"
    },
    {
      "parameters": {
        "url": "={{ $env.APP_URL }}/api/admin/menu/auto-publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-n8n-secret", "value": "={{ $env.N8N_INTERNAL_SECRET }}" }
          ]
        },
        "options": {}
      },
      "id": "auto-publish",
      "name": "Auto-Publish Menu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.created }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      },
      "id": "check-created",
      "name": "Were menus created?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=✅ Daily menus auto-published for {{ $json.date }}\n\nCreated: {{ $json.created }} slots\nSkipped (already existed): {{ $json.skipped }}",
        "additionalFields": {}
      },
      "id": "telegram-menu",
      "name": "Telegram: Menu Published",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Cron: 7 AM IST": { "main": [[{ "node": "Auto-Publish Menu", "type": "main", "index": 0 }]] },
    "Auto-Publish Menu": { "main": [[{ "node": "Were menus created?", "type": "main", "index": 0 }]] },
    "Were menus created?": { "main": [[{ "node": "Telegram: Menu Published", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false }
}
