n8n/workflows/03-payment-confirmation.json
{
  "name": "ThaliMate — Payment Confirmation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment-webhook",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-payment",
      "name": "Webhook: Payment",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Normalize Razorpay or UPI/custom payload to {orderCode, status, amount}\nconst body = $input.first().json;\nlet orderCode = body.orderCode || body.payload?.payment?.entity?.description || body.notes?.orderCode;\nlet status = 'PAID';\nlet amount = body.amount || body.payload?.payment?.entity?.amount;\nreturn [{ json: { orderCode, status, amount } }];"
      },
      "id": "normalize",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.orderCode }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ]
        }
      },
      "id": "has-code",
      "name": "Has orderCode?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.APP_URL }}/api/admin/orders/{{ $json.orderCode }}/status",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "status", "value": "PAID" },
            { "name": "secret", "value": "={{ $env.N8N_INTERNAL_SECRET }}" }
          ]
        },
        "options": {}
      },
      "id": "mark-paid",
      "name": "Mark Order PAID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ number: $env.ADMIN_WHATSAPP, text: '💸 *Payment Received*\n\nOrder: ' + $json.orderCode + '\nAmount: ₹' + (($json.amount ?? 0) / 100).toFixed(2) + '\nStatus: PAID ✅' }) }}",
        "options": {}
      },
      "id": "whatsapp-paid",
      "name": "WhatsApp: Payment Received",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook: Payment": { "main": [[{ "node": "Normalize Payload", "type": "main", "index": 0 }]] },
    "Normalize Payload": { "main": [[{ "node": "Has orderCode?", "type": "main", "index": 0 }]] },
    "Has orderCode?": { "main": [[{ "node": "Mark Order PAID", "type": "main", "index": 0 }]] },
    "Mark Order PAID": { "main": [[{ "node": "WhatsApp: Payment Received", "type": "main", "index": 0 }]] },
    "WhatsApp: Payment Received": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false }
}
